@media screen and (max-device-width: 400px) {
	.left{
		float:none;
	}
}
html {
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
    /* -webkit-filter: grayscale(100%); */
}
* {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
}
body {
	background-color: #dfe4ea;
	/* background-color: #747d8c; */
}

.front {
	margin: 0 auto;
	/* float: left; */
	width: 25rem;
	/* height: 50rem; */
	background-color: #a4b0be;
}

header {
	padding-left: 0.5rem;
	padding-top: 0.625rem;
}
header .title{
	text-align: center;
	font-size: 1.4rem;
}
header #date {
	position: absolute;
	text-align: center;
	font-size: 20px;
	opacity: 0;
	transition: opacity cubic-bezier(1, 0, 1, 1) 1.2s;
}

.tools_menu {
	position: absolute;
	top: 316px;
	right: 2%;
}
.tools_menu a {
	text-decoration: none;
}
.tools_menu_button {
	height: 50px;
	width: 100px;
	background-color: #70a1ff;
	border-radius: 25px;
	text-align: center;
}
.tools_menu_button p {
	padding-top: 12%;
	color: #f1f2f6;
}

.sponsor {
	position: absolute;
	top: 42.25rem;
	right: 2%;
	font-size: 20px;
}
.sponsor a {
	text-decoration: none;
}

article {
	text-align: center;
	font-size: 20px;
	height: 580px;
	/* background-color: #a4b0be; */
}
article .intro {
	padding-top: 3.125rem;
}
article .profile_photo {
	float: left;
}
article .profile_photo h5{
	font-size: 1.25rem;
	margin-left: 5%;
	color: white;
}
article .profile_photo img {
	height: 150px;
	margin-left: 5%;
	border: 4px solid white;
	border-radius: 50%;
}
article .self_intro {
	height: 200px;
	padding-top: 0.9375rem;
	font-size: 20px;
	font-weight: 300;
}
article a {
	text-decoration: none;
}
article .nav {
	margin: 0 34px;
	padding-top: 3.125rem;
}
article .nav a {
	text-shadow: black 3px 0 0;
	text-decoration: none;
}
article .nav a :hover {
	color: #2f3542;
}
article .nav h1 {
	color: #70a1ff;
	text-shadow: -1px 0 #f1f2f6, 0 1px #f1f2f6, 1px 0 #f1f2f6, 0 -1px #f1f2f6;
	font-size: 30px;
	width: 30px;
	text-align: center;
	padding-top: 50%;
	padding-left: 35%;
}
article .nav .index {
	background-color: #f1f2f6;
	box-shadow: 5px 5px #57606f;
	width: 100px;
	height: 200px;
	border: 2px solid white;
	border-radius: 20px;
	float: left;
}
article .nav .photo {
	background-color: #f1f2f6;
	box-shadow: 5px 5px #57606f;
	width: 100px;
	height: 200px;
	border: 2px solid white;
	border-radius: 20px;
	margin-left: 10px;
	float: left;
}
article .nav .blog {
	background-color: #f1f2f6;
	box-shadow: 5px 5px #57606f;
	width: 100px;
	height: 200px;
	border: 2px solid white;
	border-radius: 20px;
	margin-left: 10px;
	float: left;
}
article .nav .sponsor {
	background-color: #f1f2f6;
	box-shadow: 5px 5px #57606f;
	width: 100px;
	height: 200px;
	border: 2px solid white;
	border-radius: 20px;
	margin-left: 10px;
	float: left;
}

footer .foot{
	margin: 0 auto;
	height: 4rem;
	width: 20rem;
	
}
footer h3 {
	color: #f1f2f6;
	font-weight: 600;
	text-align: center;
}

#popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width:auto;
	height: auto;
	border-radius:20px;
	background-color: #747d8c;
	padding: 20px;
	text-align: center;
	z-index: 999;
}
.content p {
	color: aliceblue;
	font-size: 20px;
}

#close {
	position: absolute;
	top: 6px;
	right: 6px;
	cursor: pointer;
}